@{
  var userId = ViewData["UserId"];
}

<h1>Create a new team</h1>

<hr />
<div class="container">
  <h3>Your team</h3>
  <div id="monsters-selected" class="row row-cols-md-6 row-cols-sm-4" ">
    <div id="plus-selection" class="monster-selected">
      <i id="plus" class="bi bi-plus-lg" style="font-size: 2rem"></i>
    </div>
  </div>
  <div class="row">
    <h3>Add a Monster</h3>
    @foreach (var monster in ViewBag.monsters)
    {
    <button onclick="handleClick('@monster["id"]', '@monster["url"]', '@monster["name"]', '@monster["element"]')" class="monster-selection">
      <div>
        <img src="@monster["url"]" />
      </div>
      <div>
        <div>@monster["name"]</div>
        <div class="monster-type" style="background-color: @monster["color"]">@monster["element"]</div>
      </div>
    </button>
    }
  </div>
</div>


@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
<script>
  let teamArray = [];

  // Credits to https://stackoverflow.com/questions/105034/how-do-i-create-a-guid-uuid
  const uuidv4 = () => {
      return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
          (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
      )
  };

  const handleRemove = (id) => {
      $('#plus-selection').css("display", "flex");

      for (let i = 0; i < teamArray.length; i++) {
          if (teamArray[i].tempId == id) {

              teamArray.splice(i, 1);
              $("#" + id).remove();

              return;
          }
      };

      console.log(teamArray);
  }

  const handleClick = (id, url, name, element) => {

      if (teamArray.length > 5) {
          return 0;
      }

      // Generate uniqur uuid for each monster selected
      const tempId = uuidv4();

      // Add monster to the list to be pushed into cloud
      teamArray.push({ 'tempId': tempId, 'id': id, 'url': url, 'name': name, 'element ': element });

      let component = $('<button/>', { 'id': tempId, 'class': 'monster-selected' })
          .append(
              $('<img />', { 'src': url, 'class': "new-monster-img", 'alt': 'Monster Image' })
          )
          .append(
              $('<div />').text(name)
          );

      $(component).insertBefore('#plus-selection');
      $('#' + tempId).click(() => { handleRemove(tempId) });

      if (teamArray.length > 5) {
          $('#plus-selection').css("display", "none");
      }
  }
</script>
}