@{
  var userId = ViewData["UserId"];
}

<div style="width: 100%; display: flex; align-items:center; justify-content: space-between">
  <h2>Create a new team</h2>
  <button onclick="handleSubmit()" class="btn btn-success">Confirm</button>
</div>

<hr />
<div class="container">
  <div class="row" style="background: blue">
    <h3>Your team</h3>
    <div class="monster-selected-con">
      <div id="plus-selection" class="monster-selected">
        <i id="plus" class="bi bi-plus-lg" style="font-size: 2rem"></i>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col col-2 monster-selection-container red">
      <input style="width: 100%;padding: .5rem" />
      @foreach (var monster in ViewBag.monsters)
      {
        <button onclick="handleAdd('@monster["id"]', '@monster["url"]', '@monster["name"]', '@monster["element"]')" class="monster-selection">
          <img src="@monster["url"]" />
          <div>@monster["name"]</div>
        </button>
      }
    </div>
    <div class="col col-10 red">
    </div>
  </div>
</div>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
  <script src="~/js/TeamCreate.js"></script>
}